{% extends 'core/base.html' %}
{% block title %} Acerca de {% endblock %}


{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}


{% block headers %} 
<h1>Acerca de</h1><br>
<span class="subheading"><h2>Biografía</h2></span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Daniela Hernández</h2>   
        <p>Egresada de la Universidad Tecnológica de Tlaxcala como Ing. Tecnologías de la Información, con experiencia de dos estadias con empresas reconocidas.</p>
        <p>Siempre constante en la indagación de nuevas tecnologías y con la firmeza en la responsabilidad ante cualquier situación. </p>
    </div>
</div>

{% endblock %}


