{% extends 'core/base.html' %}
{% block title %} Contacto {% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %} 
<h1>Contacto</h1><br>
<span class="subheading"><h2>Asesoría</h2></span>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-lg-8 col-md-10 mx-auto">
    <p>Las asesorías serán compartidas por medio de aplicaciones como classroom y webex, en las cuales se resolverán las preguntas más comunes que el público haga</p>
    <br>
    <p><b>Teléfono:</b> +52 241-236-19-99</p>
    <p><b>Honorarios:</b> $600/h (precio base)</p>
</div>
{% endblock %}